<div class="container">
  <h3>Selamat Datang</h3>

  <p>
    Aplikasi ini merupakan sistem pendukung keputusan untuk membantu
    pemilihan bahan baku terbaik menggunakan metode
    <strong>Weighted Score</strong>.
  </p>

  <p>
    Silahkan lanjut untuk memasukkan data bahan baku.
  </p>

  <br>

  <a href="/form" class="btn-primary">Mulai Input Bahan Baku</a>

  <br><br>

  <a href="/materials" class="btn-secondary">Lihat Daftar Bahan Baku</a>
</div>
